@import "tailwindcss/base";
@import "@radix-ui/themes/styles.css";

:root, .light, .light-theme {
    --blue-1: #fcfdff;
    --blue-2: #f5faff;
    --blue-3: #eaf2ff;
    --blue-4: #daebff;
    --blue-5: #c7e0ff;
    --blue-6: #b2d3ff;
    --blue-7: #98c0ff;
    --blue-8: #73a6ff;
    --blue-9: #005fff;
    --blue-10: #0054e3;
    --blue-11: #0759e9;
    --blue-12: #0c2d6a;
  
    --blue-a1: #0055ff03;
    --blue-a2: #0080ff0a;
    --blue-a3: #0062ff15;
    --blue-a4: #0076ff25;
    --blue-a5: #0072ff38;
    --blue-a6: #006eff4d;
    --blue-a7: #0064ff67;
    --blue-a8: #005dff8c;
    --blue-a9: #005fff;
    --blue-a10: #0054e3;
    --blue-a11: #0054e8f8;
    --blue-a12: #002363f3;
  
    --blue-contrast: #fff;
    --blue-surface: #f3f9ffcc;
    --blue-indicator: #005fff;
    --blue-track: #005fff;
  }
  
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root, .light, .light-theme {
        --blue-1: oklch(99.4% 0.0023 261.7);
        --blue-2: oklch(98.3% 0.0106 261.7);
        --blue-3: oklch(96.1% 0.0225 261.7);
        --blue-4: oklch(93.6% 0.0439 261.7);
        --blue-5: oklch(90.4% 0.0659 261.7);
        --blue-6: oklch(86.3% 0.0902 261.7);
        --blue-7: oklch(80.7% 0.1112 261.7);
        --blue-8: oklch(73.1% 0.1466 261.7);
        --blue-9: oklch(55.1% 0.2487 261.7);
        --blue-10: oklch(50.4% 0.2283 261.7);
        --blue-11: oklch(52% 0.2283 261.7);
        --blue-12: oklch(31.5% 0.1142 261.7);
  
        --blue-a1: color(display-p3 0.0235 0.349 1 / 0.012);
        --blue-a2: color(display-p3 0.0235 0.4588 0.8941 / 0.036);
        --blue-a3: color(display-p3 0.0078 0.3569 0.9529 / 0.079);
        --blue-a4: color(display-p3 0.0078 0.3882 0.9451 / 0.134);
        --blue-a5: color(display-p3 0 0.3725 0.9412 / 0.2);
        --blue-a6: color(display-p3 0.0039 0.3686 0.9451 / 0.279);
        --blue-a7: color(display-p3 0.0039 0.3294 0.949 / 0.373);
        --blue-a8: color(display-p3 0 0.3059 0.949 / 0.506);
        --blue-a9: color(display-p3 0 0.251 0.9569 / 0.848);
        --blue-a10: color(display-p3 0 0.2235 0.8353 / 0.867);
        --blue-a11: color(display-p3 0 0.2314 0.8627 / 0.851);
        --blue-a12: color(display-p3 0 0.098 0.3451 / 0.918);
  
        --blue-contrast: #fff;
        --blue-surface: color(display-p3 0.9569 0.9765 1 / 0.8);
        --blue-indicator: oklch(55.1% 0.2487 261.7);
        --blue-track: oklch(55.1% 0.2487 261.7);
      }
    }
  }

:root,
.light,
.light-theme,
.radix-themes {
    --color-background: #f4f8f9;
}

.dark, .dark-theme {
  --gray-1: #0a0d11;
  --gray-2: #15191d;
  --gray-3: #1d2329;
  --gray-4: #222a33;
  --gray-5: #29313b;
  --gray-6: #303b47;
  --gray-7: #3b4858;
  --gray-8: #4f6277;
  --gray-9: #5d7084;
  --gray-10: #6b7d91;
  --gray-11: #a7b5c5;
  --gray-12: #ebeef3;

  --gray-a1: #000d9002;
  --gray-a2: #c2e8fd0e;
  --gray-a3: #b5ddfd1b;
  --gray-a4: #a6d0fb26;
  --gray-a5: #b2d5ff2e;
  --gray-a6: #abd4fe3b;
  --gray-a7: #aad1ff4d;
  --gray-a8: #a9d3ff6e;
  --gray-a9: #b3d8ff7c;
  --gray-a10: #bddcff8a;
  --gray-a11: #d8eafec2;
  --gray-a12: #f6f9fef3;

  --gray-contrast: #FFFFFF;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #5d7084;
  --gray-track: #5d7084;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --gray-1: oklch(0.158 0.01 251.2);
      --gray-2: oklch(0.21 0.011 251.2);
      --gray-3: oklch(0.252 0.015 251.2);
      --gray-4: oklch(0.282 0.019 251.2);
      --gray-5: oklch(0.311 0.021 251.2);
      --gray-6: oklch(0.346 0.026 251.2);
      --gray-7: oklch(0.398 0.031 251.2);
      --gray-8: oklch(0.49 0.041 251.2);
      --gray-9: oklch(0.537 0.039 251.2);
      --gray-10: oklch(0.583 0.037 251.2);
      --gray-11: oklch(0.768 0.027 251.2);
      --gray-12: oklch(0.949 0.007 251.2);

      --gray-a1: color(display-p3 0.043 0.051 0.847 / 0.005);
      --gray-a2: color(display-p3 0.827 0.91 0.992 / 0.055);
      --gray-a3: color(display-p3 0.784 0.906 0.996 / 0.101);
      --gray-a4: color(display-p3 0.729 0.847 0.996 / 0.143);
      --gray-a5: color(display-p3 0.757 0.855 1 / 0.176);
      --gray-a6: color(display-p3 0.718 0.851 1 / 0.226);
      --gray-a7: color(display-p3 0.714 0.827 1 / 0.298);
      --gray-a8: color(display-p3 0.714 0.827 1 / 0.423);
      --gray-a9: color(display-p3 0.749 0.859 1 / 0.477);
      --gray-a10: color(display-p3 0.776 0.871 1 / 0.532);
      --gray-a11: color(display-p3 0.875 0.933 1 / 0.749);
      --gray-a12: color(display-p3 0.969 0.976 1 / 0.95);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(0.537 0.039 251.2);
      --gray-track: oklch(0.537 0.039 251.2);
    }
  }
}

.dark, .dark-theme {
    --blue-1: #09111f;
    --blue-2: #0d1729;
    --blue-3: #0b2452;
    --blue-4: #0a2d6f;
    --blue-5: #0f3783;
    --blue-6: #174295;
    --blue-7: #1f4faa;
    --blue-8: #235cc8;
    --blue-9: #005fff;
    --blue-10: #004fef;
    --blue-11: #86b6ff;
    --blue-12: #cee3ff;
  
    --blue-a1: #0011ff0f;
    --blue-a2: #004cfd1a;
    --blue-a3: #0057fe46;
    --blue-a4: #0058ff65;
    --blue-a5: #0d60fd7b;
    --blue-a6: #1b69fe8e;
    --blue-a7: #2772ffa4;
    --blue-a8: #2872fec5;
    --blue-a9: #005fff;
    --blue-a10: #0054ffee;
    --blue-a11: #86b6ff;
    --blue-a12: #cee3ff;
  
    --blue-contrast: #fff;
    --blue-surface: #0a1d4180;
    --blue-indicator: #005fff;
    --blue-track: #005fff;
  }
  
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      .dark, .dark-theme {
        --blue-1: oklch(17.8% 0.0322 261.7);
        --blue-2: oklch(20.7% 0.0393 261.7);
        --blue-3: oklch(27.1% 0.0902 261.7);
        --blue-4: oklch(31.8% 0.1213 261.7);
        --blue-5: oklch(36.1% 0.136 261.7);
        --blue-6: oklch(40.4% 0.1439 261.7);
        --blue-7: oklch(45% 0.1564 261.7);
        --blue-8: oklch(50.3% 0.1785 261.7);
        --blue-9: oklch(55.1% 0.2487 261.7);
        --blue-10: oklch(50.4% 0.2487 261.7);
        --blue-11: oklch(77.7% 0.1604 261.7);
        --blue-12: oklch(91.1% 0.0557 261.7);
  
        --blue-a1: color(display-p3 0 0.0706 0.9961 / 0.055);
        --blue-a2: color(display-p3 0 0.3098 1 / 0.097);
        --blue-a3: color(display-p3 0.0824 0.3373 0.9961 / 0.261);
        --blue-a4: color(display-p3 0.098 0.3451 0.9961 / 0.379);
        --blue-a5: color(display-p3 0.1529 0.3843 1 / 0.458);
        --blue-a6: color(display-p3 0.2 0.4196 1 / 0.534);
        --blue-a7: color(display-p3 0.2392 0.4549 1 / 0.618);
        --blue-a8: color(display-p3 0.2471 0.4588 1 / 0.74);
        --blue-a9: color(display-p3 0.1529 0.3765 0.9961 / 0.963);
        --blue-a10: color(display-p3 0.1255 0.3333 1 / 0.895);
        --blue-a11: color(display-p3 0.5804 0.7294 1 / 0.975);
        --blue-a12: color(display-p3 0.8353 0.898 1 / 0.988);
  
        --blue-contrast: #fff;
        --blue-surface: color(display-p3 0.051 0.1098 0.2431 / 0.5);
        --blue-indicator: oklch(55.1% 0.2487 261.7);
        --blue-track: oklch(55.1% 0.2487 261.7);
      }
    }
  }

.dark,
.dark-theme {
    --gray-1: #0a0d11;
    --gray-2: #15191d;
    --gray-3: #1d2329;
    --gray-4: #222a33;
    --gray-5: #29313b;
    --gray-6: #303b47;
    --gray-7: #3b4858;
    --gray-8: #4f6277;
    --gray-9: #5d7084;
    --gray-10: #6b7d91;
    --gray-11: #a7b5c5;
    --gray-12: #ebeef3;

    --gray-a1: #000d9002;
    --gray-a2: #c2e8fd0e;
    --gray-a3: #b5ddfd1b;
    --gray-a4: #a6d0fb26;
    --gray-a5: #b2d5ff2e;
    --gray-a6: #abd4fe3b;
    --gray-a7: #aad1ff4d;
    --gray-a8: #a9d3ff6e;
    --gray-a9: #b3d8ff7c;
    --gray-a10: #bddcff8a;
    --gray-a11: #d8eafec2;
    --gray-a12: #f6f9fef3;

    --gray-contrast: #FFFFFF;
    --gray-surface: rgba(0, 0, 0, 0.05);
    --gray-indicator: #5d7084;
    --gray-track: #5d7084;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {

        .dark,
        .dark-theme {
            --gray-1: oklch(0.158 0.01 251.2);
            --gray-2: oklch(0.21 0.011 251.2);
            --gray-3: oklch(0.252 0.015 251.2);
            --gray-4: oklch(0.282 0.019 251.2);
            --gray-5: oklch(0.311 0.021 251.2);
            --gray-6: oklch(0.346 0.026 251.2);
            --gray-7: oklch(0.398 0.031 251.2);
            --gray-8: oklch(0.49 0.041 251.2);
            --gray-9: oklch(0.537 0.039 251.2);
            --gray-10: oklch(0.583 0.037 251.2);
            --gray-11: oklch(0.768 0.027 251.2);
            --gray-12: oklch(0.949 0.007 251.2);

            --gray-a1: color(display-p3 0.043 0.051 0.847 / 0.005);
            --gray-a2: color(display-p3 0.827 0.91 0.992 / 0.055);
            --gray-a3: color(display-p3 0.784 0.906 0.996 / 0.101);
            --gray-a4: color(display-p3 0.729 0.847 0.996 / 0.143);
            --gray-a5: color(display-p3 0.757 0.855 1 / 0.176);
            --gray-a6: color(display-p3 0.718 0.851 1 / 0.226);
            --gray-a7: color(display-p3 0.714 0.827 1 / 0.298);
            --gray-a8: color(display-p3 0.714 0.827 1 / 0.423);
            --gray-a9: color(display-p3 0.749 0.859 1 / 0.477);
            --gray-a10: color(display-p3 0.776 0.871 1 / 0.532);
            --gray-a11: color(display-p3 0.875 0.933 1 / 0.749);
            --gray-a12: color(display-p3 0.969 0.976 1 / 0.95);

            --gray-contrast: #FFFFFF;
            --gray-surface: color(display-p3 0 0 0 / 5%);
            --gray-indicator: oklch(0.537 0.039 251.2);
            --gray-track: oklch(0.537 0.039 251.2);
        }
    }
}

.dark,
.dark-theme,
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
    --color-background: #0b0d10;
}

@tailwind components;
@tailwind utilities;